body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f7f7f7;
}

#openGiftButton {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 20px; /* Asegura espacio para el botón encima del lienzo */
}

canvas {
    border: 1px solid black;
    opacity: 0; /* Inicialmente invisible */
    transition: opacity 2s ease-in-out; /* Animación suave de la opacidad */
}

canvas.show {
    opacity: 1; /* Hacer el canvas completamente visible cuando se añade esta clase */
}
