body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f7f7f7;
}

#openGiftButton {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    position: absolute; /* Posicionamiento absoluto */
    top: 50%; /* Centrar verticalmente */
    left: 50%; /* Centrar horizontalmente */
    transform: translate(-50%, -50%); /* Ajuste fino para centrar exactamente */
    z-index: 100; /* Asegurarse de que
esté sobre el lienzo */
}

canvas {
border: 1px solid black;
opacity: 0; 
transition: opacity 2s ease-in-out; 
margin-top: 20px; 
}

canvas.show {
opacity: 1; /* Hacer el canvas completamente visible cuando se añade esta clase */
}
